
.program-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  gap: 24px; 
  padding: 20px;
}

.program-item {
  background-color: #363636;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-basis: 30%; 
  flex-grow: 1; 
  min-width: 250px; 
}

.program-image {
  width: 150px;
  height: 150px;
  margin: 0 auto 15px auto;
}

.program-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}