.sliderbox{
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #0056b3;
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 0px 20px 0px 20px;
    color: #ffffff;
    display: flex;
    gap: 150px;
}
.info{
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.sliderbox img{
    width: 90%;
    height: auto;
    margin-top: 1%;
}